@model IEnumerable<Projet_hespel_bryan.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (@Session["ID"] == null)
{

}
else if (@Session["ID"].Equals(1))
{
    <p>
        @Html.ActionLink("Créer nouveau", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_categorie)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_categorie)
            </td>
            <td>
                @if (@Session["ID"] == null)
                {
                    @Html.ActionLink("Tous les articles", "Articlescatego", new { id = item.categorieID })
                }
                else if (@Session["ID"].Equals(1))
                {
<td>

                    @Html.ActionLink("Modifier", "Edit", new { id = item.categorieID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.categorieID }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.categorieID }) |
                    @Html.ActionLink("Tous les articles", "Articlescatego", new { id = item.categorieID })
                        </td>
                }

            </td>
        </tr>
    }

</table>
