@model IEnumerable<Projet_hespel_bryan.Models.Constructeur>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (@Session["ID"] == null)
{

}
else if (@Session["ID"].Equals(1))
{
    <p>
        @Html.ActionLink("Créer nouveau", "Create")
    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>

            @if (@Session["ID"] == null)
            {
                <td>
                    @Html.ActionLink("Tous les articles", "Articlesconstru", new { id = item.constructeurID })
                </td>
            }
            else if (@Session["ID"].Equals(1))
            {
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.constructeurID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.constructeurID }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.constructeurID }) |
                    @Html.ActionLink("Tous les articles", "Articlesconstru", new { id = item.constructeurID })
                </td>

            }




        </tr>
    }

</table>
