@model IEnumerable<Projet_hespel_bryan.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catégorie.nom_categorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constructeur.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_transaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_mise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heure)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Catégorie.nom_categorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constructeur.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_transaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_mise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heure)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.articleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.articleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.articleID })
        </td>
    </tr>
}

</table>
